body{
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
*,
::after,
::before{
    box-sizing:border-sizing;
}
@media screen and (max-width:768px){
    nav .nav-links{
        position:fixed;
        background:#07073c;
        height:200vh;
        width:100%;
        flex-direction:column;
        align-items:center;
        align-items:center;
        clip-path:circle(100px at 90% -10%);
        -webkit-clip-path:circle(100px at 90% -10%);
        transition:all 1s ease-out;
        pointer-events:none;
    }
    nav{
        position:relative;
    }
    nav >.nav-links.open{
        clip-path:circle(1000px at 90% -10%);
        -webkit-clip-path:circle(2000px at 90% -10%);
        pointer-events:all;


    }
    .nav-links li{
        opacity:5;
    }
    nav>.nav-links li a{
        font-size:16px; 
        color:white;
    }
    .nav-links li.line1{
        transition:all 0.5s ease 0.2s;
    }
    .nav-links li.line2{
        transition:all 0.5s ease 0.4s;
    }
    .nav-links li.line3{
        transition:all 0.5s ease 0.6s;
    }
    li .fade{
        opacity:1;
    }
    nav .search-bar{
        display:none;
    }
    .hamburger{
        position:absolute;
        cursor:pointer;
        right:5%;
        top:35%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    .line{
        width:30px;
        height:4px;
        background:#07073c;
        margin:5px;
    }
    .main .container {
        display:flex;
        flex-direction: column;
    }
    .container .container-contanttext{
        display:flex;
        flex-direction:column;
    }
    .container-contanttext .head-text{
        font-size:83px;
    }
    .container-contanttext .head-text2{
        font-size:83px;
    }
    .main .container .content-img{
        display:none;
    } 
    .head-text span.ty{
        color:#07073c;
    }
    .head-text2 span.y{
        color:#07073c;
    }
    .main .link-icon{
        display:none;
    }
   
}
.main{
    width:100%;
    height:100vh;
    background: linear-gradient(91deg,rgb(7 7 60)68%, gold 10%);
}
nav {
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    position: relative;
    width: 17%;
}
.logo h1 {
    color: yellow;
    font-family: monospace;
    font-size: 19px;
    font-weight: 700;
    padding: 0px 36px;
    font-weight: 5600;
}
.logo span {
    color: #e3eaf1;
}
.nav-links{
    text-transform: uppercase;
    list-style: none;
    display: flex;
    width: 59vw;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui; 
    
}
.nav-links li {
    margin-left: 24px;
   
    
}
nav >.nav-links li a {
    text-decoration: none;
    color: white;
    transition:1s ease-in-out;
}
.nav-links li a:hover{
    color:yellow;
    transition:1s ease;
    border-bottom:4px solid yellow;
}
.search-bar {
    width: fit-content;
    display:flex;
    justify-content:flex-end;
    align-items: center;

}
.search-bar input[type="search"] {
    border: 2px solid #08083d;
    width: 9rem;
    height: 29px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding-left: 15px;
    color: #07073c;
    font-size: 15px;
    font-weight: bold;
} 
.search-bar .search-icon {
    width: 36px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #07073c;
    color: yellow;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
}
.container {
    width: 100%;
    height: 89vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.content-text{
    padding-left: 12%;
    font-family :monospace;

}
.head-text{
    color: gold;
    margin-bottom: 31px;
    font-size: 90px;
}

.head-text2{
    margin-top:0;
    margin-left:15%;
    color:gold;
    font-size: 90px;
}
span.gold{

    color:white;
}
.content-img img{ 
    height: 101%;
}
.paragraph{
    background: white;
    height: 39%;
    width: 58%;
    margin-left: 17%;

}
.paragraph p {
    padding: 5px 33px;
    color: #07073c;
    font-size: 18px;
    font-weight: 600;
    font-family: system-ui;
    line-height: 39px;
}
.link-icon{
    width: 4%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #08083d;
    left: 96%;
    bottom: 25%;
    position:fixed;
}
.icon1 {
    height: 35px;
    width: 36px;
    border: 23px;
    border-radius: 31px;
    margin-top:4px;
  
}
.icon2 {
    height: 35px;
    width: 36px;
    border: 23px;
    border-radius: 31px;
    margin-top:18px;
    
}
.icon3 {
    height: 35px;
    width: 36px;
    border: 23px;
    border-radius: 38px;
    margin-top:18px;

}
.icons:hover{
    background:gold;
}
.fab, .far {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: gold;
    padding-top: 7px;
    padding-left:7px;
}
.icon1 .fab, .far{
    padding-left:10px;  
    font-size: 22px;
}

.icon2 .fab, .far{
    padding-left:8px;  
    font-size: 23px;
    
}
.icon3 .fab, .far{
    padding-left:8px;  
    font-size: 22px;
}
.ic:hover{
    transition:all 1s ease-in-out;
}
.ic:hover{
    transition:all 1s;
    transform:scale(0.4) ease;
    color: #07073c;
}